@model Student

<div class="container text-center">
    <div class="">
        <img src="@Model.ImageUrl" style="width: 50vw"/>
    </div>
    <div class="my-3 display-6">
        @Model.StudentName
    </div>
</div>