@model Lesson

<div class="container text-center">
    <div class="my-3 display-6">
        @Model.LessonName
    </div>
    <div class="my-3 display-6">
        @Model.Price.ToString("c")
    </div>
</div>